<template name="homePageBlaze">
  <div class="ui masthead vertical segment"> <!-- headmast -->
		Some text
		<!-- {{> form}} -->
		Garlic asdfasdfasdf
		A home of bittervet         asdfaaaaaaa aaa
      asasdasdassd asdfasdf asdfasdfs asdf asdf asdf asdf asdf asdf  asdf  asdf asdf asdf asdf asdf asdf asdf asdfasdf asdf asdf
	</div>
  <div v-blaze="'filterChecks'"></div>


<div class="ui divider"></div>
  <div class="ui form">
    <div class="field">
      <label>Text</label>
      <textarea></textarea>
    </div>
  </div>
<div class="ui divider"></div>


{{#let users=counts.users bids=counts.bids auctions=counts.auctions}}

	<div class="ui divider hidden"></div>
	<div class="ui statistics segment">
		<!-- <div class="ui statistic">
			<div class="value">
				{{{ bids }}}
			</div>
			<div class="label">
				Bids
			</div>

		</div> -->

		<!-- <div class="ui statistic">
			<div class="value">
				{{counts.applications}}
			</div>
			<div class="label">
				Applications
			</div>
		</div> -->

    <div class="ui statistic">
      <div class="value">
        {{{ users }}}
      </div>
      <div class="label">
        Users
      </div>
    </div>

		<div class="ui statistic">
			<div class="value">
				 {{{ auctions}}}
			</div>
			<div class="label">
				Auctions
			</div>
		</div>

		<!-- <div class="ui statistic">
			<div class="value">
				{{counts.corps}}
			</div>
			<div class="label">
				Corporations
			</div>
		</div> -->

		<!-- <div class="ui statistic">
			<div class="value">
				{{counts.subscribers}}
			</div>
			<div class="label">
				Buyers
			</div>
		</div> -->
	</div>
  {{/let}}

  <div class="ui divider hidden"></div>

<h3>About</h3>
	<div class="ui top attached tabular menu">
		<a class="active item" data-tab="first">Auctions</a>
		<!-- <a class="item" data-tab="second">Second</a>
		<a class="item" data-tab="third">Third</a> -->
	</div>
	<div class="ui bottom attached active tab segment" data-tab="first">
		<ul>
      <li>
        Auctions go inactive 5 days after owner hasn't logged in, and buyers
        can filter by days when seller was last online. Consider the likely competition of
      char that you're looking for and set according time span.
    </li>
      <li>
        Auctions with the bids are recorded, and remain public past inactivation, for
        purposes of accountability. Auctions and bids may only occur after logging in
        with Eve Online credentials through SSO.
      </li>
    <li>
      Skill filter buttons group goes from 0 to 5 and null. If null is checked than all levels are avoided, and the opposite.
      Groups further down the list are overriden in skills' level setting conflicts during selection by upper groups.
      <div class="ui icon compact small buttons">
      <button class="ui icon button">
        <i class="icon radio"></i>
      </button>
      <button class="ui icon button positive">
        <i class="icon plus"></i>
      </button>
      <button class="ui icon button negative">
        <i class="icon minus"></i>
      </button>
    </div>
    </li>
    </ul>
	</div>
	<!-- <div class="ui bottom attached tab segment" data-tab="second">
		Second
	</div>
	<div class="ui bottom attached tab segment" data-tab="third">
		Third
	</div> -->
	<!-- <div class="ui accordion">
		<div class="title">
			<i class="dropdown icon"></i>
			What is a dog?
		</div>
		<div class="content">
			<p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
		</div>
  </div> -->
</template>
