<template>
  <!-- <div>
  <div v-blaze="'corporateList'"></div>
</div> -->
<div>
  <h4 class="ui horizontal divider header">
  Application
</h4>
  <div>
  <select v-model="selectedApplication">
    <option v-for="app in applications" v-bind:value="app">
      {{ app.owner }}
    </option>
  </select>
</div>
<h4 class="ui horizontal divider header">
Corporations
</h4>
  <div v-for="corp in corps">
    <h4> {{corp.name}} </h4>
    {{corp}}
    <router-link :to="{name: 'corporateHome', params: {name: corp.name}}"> Home </router-link>
    <button @click="apply(corp.name)">Apply</button>
  </div>
  <h4 class="ui horizontal divider header">
  Shouldn't be here as application holds this
</h4>
  <div v-for="form in formFilters">
    <p> {{form.label}} </p>
    <select v-model="form.value">
      <option v-for="option in form.allowedValues" v-bind:value="option">
        {{ option }}
      </option>
    </select>
    <span> Selected: {{form.value}}</span>
    <!-- <textarea v-model="form.value"></textarea> -->
  </div>
</div>
</template>

<script>
import forms from '/client/forms/corpForms'
for (form in forms) {
  forms[form].allowedValues.push("")
}

export default{
  methods: {
    apply(corp, event) {
      // console.log(
      //   // "target", event.target, "value", event.target.value,
      // "corp", corp)
      return Meteor.call("corp.apply", this.selectedApplication._id, corp)
    }
  },
  data: function() {
    return {
      corps: [],
      formFilters: {
        ...forms
      },
      applications: [],
      selectedApplication: {}
    }
  },
  computed: {
      corps() {
          var a = {}
          for (field in this.formFilters) {
            a[field] = {}
            a[field].value = this.formFilters[field].value
          }
          return Corps.find({...a})
      },
      applications() {
        if (Meteor.user()) {
          var a = Applications.find({owner: Meteor.userId()}).fetch()
          // console.log(this)
          //doesn't work
          // this.selectedApplications = a[0]? a[0]: "Create Application";
          return a
        }
      }
  },
  }
</script>
