<template>
  <div>
    <p> You may set number of acceptable application's recepients, which will enforce this number on the application.
      Your processing speed is recorded and displayed to applicants, as well as relative rate of monthly denial of applications within the same category of corps.
      Players leaving within a month, applying to you and joining another corp before the rejection count as being denied, thus
      being slow, allowing high number of concurrent application recepients (competing corps), not having any redeeming quality
      or mispresenting said qualities, puts you at unenviabe rank.
      <h3> New Apps </h3>

      <button @click="httpCall">call</button><button @click="eveCall">eve</button>
      <div class="ui three item menu">
  <a @click="pickMenu('apps')" class="item" v-bind:class="{ active: activeMenu=='apps'}">Apps</a>
  <a @click="pickMenu('records')" class="item" v-bind:class="{ active: activeMenu=='records'}">Records</a>
  <a @click="pickMenu('roles')" class="item" v-bind:class="{ active: activeMenu=='roles'}">Roles/Members</a>
</div>
<div v-if="activeMenu=='apps'">
  <list-apps></list-apps>
</div>
<div v-else-if="activeMenu=='records'">
  <list-records></list-records>
</div>
<div v-else>
  <list-roles></list-roles>
</div>

    <!-- <div v-for="(role, index) in app.user.roles">
    {{role}} </div> -->
    <!-- Follos this example where roles are labels for input (more like button that toggles role) -->
    <!-- https://jsfiddle.net/yyx990803/4dr2fLb7/?utm_source=website&utm_medium=embed&utm_campaign=4dr2fLb7 -->
    <!-- Make acitvatable array on click whitch fires method that sorts array,
    and then slices from 0 to clicked index -->
    <!-- <div v-for="(role, index) in this.roles" @click="addRole(index, app.user.id)"> {{role}}</div> -->

  </div>
</div>
</template>

<script>
import {checkAppCharCorps} from "/lib/appMethods.js"
import Swagger from 'swagger-client'
// import esi from 'eve-swagger'

export default {
  // beforeRouteEnter (to, from, next) {
  // // called before the route that renders this component is confirmed.
  // // does NOT have access to `this` component instance,
  // // because it has not been created yet when this guard is called!
  // Meteor.subscribe("Applications");
  //
  // },

  data () {
    return {
      activeMenu: "apps",
      corp: this.$route.params.name.replace("_", " "),
      error: ""
    }
  },
  methods: {
    pickMenu(item){
      return this.activeMenu = item
    },
    eveCall() {

    },
    httpCall() {

    }

  },
  computed: {
    openForm(){
      return this.applications
    }
  },

}

</script>
