<!-- <template name="corporate">
 <div class='ui segment'>
   <h3>Select Form</h3>
   {{#autoForm collection='Schemas' id='selectSchemaForm'}}
    <div class='ui form'>
      {{> afFieldInput name='name' type='select-radio' options=schemaOptions}}
    </div>
    {{/autoForm}}
    {{#if isSchemaSelected}}
      {{> quickForm collection='Applications' schema=schema
        id='insertApplicationForm' type='method' meteormethod='insertForm'}}
    {{/if}}
  </div>
      <div class='field'></div>
</template>
-->
<template name='corporate'>
</template>
