<template name="corporateEdit">
  <div class="edit-corp">
      <h1>Edit</h1>
      {{> quickForm collection="Corps" doc=this id="editCorpForm" type="update" buttonContent="Update"}}
      <hr>
      {{> quickRemoveButton collection="Corps" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
  </div>
</template>
