<template>
  <div>

  </div>
</template>

<script>

export default {
data() {
  return {
    records: []
  }
},
meteor: {
  data: {
    records: {
      params() {
        var a = this.$route.params.name.replace("_", " ")
        return a
      },
      update(params) {
        var a = Applications.find({concluded: true, addressees: { $elemMatch: {name: params, status: true}}}, {})
        return a? a : [];
      }
    },
  }
}

}
</script>
