<template>
  <div>
    <div v-for="app in members" class="ui segment">
      SDfSDf
      {{app.profile}}
      {{app.roles[corp]}}
      Chars:
      <div v-for="char in app.Chars">
        {{char.name}}<button @click="labelRecruiter()">Recruits</button>
      </div>
      Roles:
      <div v-for="(role, index) in roles"
      :class="{green: index < app.roles[corp].length}"
      @click="addRole(index,app._id)">
      {{role}}
    </div>
  </div>
  </div>
</template>

<script>

export default {
  data(){
    return{
      members: [],
      roles: ["Member", "FC", "Recruiter", "Director", "CEO"],
    }
  },
  methods:{
    addRole (role, id) {
      console.log(id)
      return Meteor.call('corp.roles.add', role, id, this.$route.params.name.replace("_", " "))
    },
    removeRole (role, id) {
      return Meteor.call('corp.roles.add', role, id)
    },
  },
  meteor: {
    subscribe: {
      // "corpMembers": [this.$route.params.name.replace("_", " ")]
      'corpMembers':function(){
        return [this.$route.params.name.replace("_", " ")]
      }
    },
    data:{
      members: {
        params() {
          var a = this.$route.params.name.replace("_", " ")
          return a
        },
        update(params) {
          var query = {}
          query["roles."+params]= {$exists: true}
          return Meteor.users.find(query).fetch()
          // var a = Applications.find({addressees: { $elemMatch: {name: params, status: "concluded"}}}, {}).fetch()
          // console.log(a)
          // var b = a.map((v) => {
          //    v.user = Meteor.users.findOne({_id: v.owner})
          //    return v
          // })
          // return b? b : [];
        }
      },
    }
  }
}
  </script>
