<template>
  <div>
    <div v-for="app in applications">
      <div class="ui item">
      <div v-for="char in app.chars">
        {{char.name}} /{{char.corporationName}} /{{char.allianceName}}
      </div>
      <div v-for="(item, key) in app">
        <div v-if="key != 'awaiting'">
          <div v-if="key != '_id'">
            <div v-if="key != 'chars'">
              <div v-if="key != 'concluded'">
                <div v-if="key != 'start'">
                  <div v-if="key != 'length'">
                    <div v-if="key != 'charScan'">
                      <div v-if="key != 'awaiting'">
                        <div v-if="key != 'owner'">
                          {{key}}: {{item.value}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <button @click="accept(app)"> Accept </button> <button @click="decline(app)"> Decline </button>
          </div>
    </div>
  </div>
</template>

<script>

export default {
  data(){
    return{
      applications: [],
    }
  },
  methods:{
    accept(app) {
      return Meteor.call("corp.accept", app._id , this.$route.params.name.replace("_", " "), app.owner)
    },
    decline(app) {
      return Meteor.call("corp.decline", app._id , this.$route.params.name.replace("_", " "), Meteor.user())
    },
  },
  meteor: {
    data:{
      applications: {
        params() {
          var a = this.$route.params.name.replace("_", " ")
          return a
        },
        update(params) {
          var a = Applications.find({concluded: {$ne: true}, addressees: { $elemMatch: {name: params, status: {$ne: false}}}}, {sort: {awaiting: 1, length: 1}})
          return a? a : [];
          // return Corps.findOne({_id: params}, {applications: 1})
        }
      },
    }
  }

}
</script>
