<template>
  <div>
    <h3> Roles control </h3>
    <div v-for="(role, index) in this.roles" :class="{green: index <= sortedRoles}" @click="addRole(index)">
      {{role}}{{index}}</div>
{{this.roles}}
  </div>
</template>

<script>
export default {
prop: ["roles", "id"],
data () {
  return {
    allRoles: ["Member", "Recruiter", "FC", "Director", "CEO"]
  }
},
computed: {
  // sortedRoles: {
  //   getter() {
  //     console.log(this.roles.length)
  //     return this.roles.length
  //   }
    // setter(index) {
    //   //@params targetUser, corpName, index from roles
    //   return Meteor.call("corp.promote", this.id, this.$route.params.name.replace("_", " "), index)
    // }
      // }
    getRoles() {
      return getRolesForUser(this.id, this.$route.params.name.replace("_", " "))
    }

},
methods: {
  addRole(index){
    console.log (this.id, Meteor.user().roles.friendly)
    return Meteor.call("corp.promote", this.id, this.$route.params.name.replace("_", " "), index, function (err, res) {
      if (err) {
        alert(err.message);
      } else {
        console.log("succ", res)
      }
    })
  }
}
}
</script>
