
.ui.grid.main{
 margin-top: 70px;
}


/*.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;
}
  .tooltip >.tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip >.tooltip-arrow {
    display: none;
  }

  .tooltip >&[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  .tooltip >&[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}*/

/*
.mobile.row{
 padding-top: 0px !important;
 margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
 border-radius: 0px !important;
}

.padding-reset{
 padding: 0px !important;
}


@media (max-width: 767px) {
	 .ui.grid.main{
		 margin-top: 70px;
 }

			 .ui.grid { margin: 0 !important; }
 .ui.vertical.menu.navbar{
	 margin-top: 0px !important;
 }
}

.ui.vertical.menu{
 margin-top: -15px !important;
 width: 100%;
 display: none;
}

#headerToolbar {
	background-color: #eee;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1.5em;
	display: flex;
	align-items: center;
}

#mainContent {
	margin-top: 1.5em;
}

#headerMenu {
	padding-left: 0px;
	list-style: none;
}

#headerMenu li {
	padding-left: 0.5em;
	float: left;
}

.accounts-dialog {
	margin: 0px !important;
}*/
