<template name="onlyIfLoggedIn">
  {{#if authInProcess}}
    <p>loading ...</p>
  {{else}}
    {{#if canShow}}
      {{> UI.contentBlock }}
    {{else}}
      <p>You are not authorized to view this page.</p>
      <p>Please <a href="/login">login</a> to view this page</p>
    {{/if}}
  {{/if}}
</template>
