
<template name="userProfilePage">


	<!-- {{#if !!Meteor.user()}} -->
	<div height="80px">
		<div class="ui segments">
			<div class="ui segment">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="773WK5NXS6T8Q">
					<table>
						<tr><td><input type="hidden" name="on0" value="Recurring Donation">Recurring Donation</td></tr><tr><td><select name="os0">
							<option value="5">5 : $5.00 USD - monthly</option>
							<option value="10">10 : $10.00 USD - monthly</option>
							<option value="25">25 : $25.00 USD - monthly</option>
							<option value="49">49 : $49.00 USD - monthly</option>
							<option value="99">99 : $99.00 USD - monthly</option>
							<option value="Banker">Banker : $249.00 USD - monthly</option>
						</select> </td></tr>
						<tr><td><input type="hidden" name="on1" value="Use Case">Use Case</td></tr><tr><td><select name="os1">
							<option value="Applications">Applications </option>
							<option value="Recruit">Recruit </option>
							<option value="Bazaar">Bazaar </option>
							<option value="Corp Facilities">Corp Facilities </option>
						</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			<div class="ui segment">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="XTFUE4D5E829G">
					<table>
						<tr><td><input type="hidden" name="on0" value="Single Donation">Single Donation</td></tr><tr><td><select name="os0">
							<option value="5">5 $5.00 USD</option>
							<option value="25">25 $25.00 USD</option>
							<option value="99">99 $99.00 USD</option>
						</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</div>
	</div>

	{{#if currentUser}}
	<h2>User profile</h2>
	<h3> Your Bids </h3>
	<table>
		<tbody>
			{{#each bids}}
			<tr>
				<td>{{name}}</td>
				<td>{{winning}} </td>
				<td>{{topBid}} </td>
				<td><a class="ui button" href="/auction/item/{{name}}">auction</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<h3> Your Auctions </h3>
	<a class='ui button sellYourself'>Sell yourself </a>
	<table>
		<tbody>
			{{#each auctions}}
			<tr>
				<td>{{name}}</td>
				<td>{{topBid}} </td>
				<td>{{lastUpdateAuc}}</td>
				<td>{{active}}</td>
				<td><a class="ui basic small red button disactivate" data="{{_id}}">disactivate</a></td>
				<td><a class="ui basic small green button activate" data="{{_id}}">activate</a></td>
				<td><a class="ui basic small blue button" href="/auction/item/{{name}}">auction</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<!-- <h3> Your corps/apps </h3> -->
	<!-- <div v-for="corp in corps">
	<router-link :to="{name: 'corporateHome', params: {name: corp}}"> {{corp}} </router-link>
</div>
<h4> Them apps </h4>
<div v-for="app in apps" class="ui segment">
{{app}}
</div> -->
<!-- <div v-blaze="'atForm'"></div> -->
<!-- <button id="addSSO">Add SSO</button> -->

<!-- probably a list better -->
<h4> Your character: </h4>
<table class="ui very basic collapsing celled table">
	<thead>
		<th>Portrait</th>
		<th>ID</th>
		<th>Name</th>
		<th></th>
	</thead>
	<tbody>
		{{#each chars}}
		<tr>
			<td>
				<h3 class="ui image header">
					<img src="" class="ui mini round image">
					<div class="content"> {{name}} </div>
					<div class="sub header"> {{corp}} </div>
				</h3></td>
				<td>
					{{characterID}}
				</td>
				<td>
					<button class="">Info</button>
					<button class="sellChar">Sell</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{else}}
	<div class="ui medium header"> LOG IN with Eve Online </div>
	{{/if}}

	<!-- <button class="ui button createCorp">Create Corp</button>
	<button class="ui button createApplication">Create Application</button> -->



	<!-- {{else}}
	Would you login. -->
	<!-- {{/if}} -->
</template>
