<template>
    <!-- pushable class in container div (app-layout) -->
    <div class="app-layout">
        <!-- <div class="ui sidebar inverted vertical menu">
          <a class="item">
            1
          </a>
          <a class="item">
            2
          </a>
          <a class="item">
            3
          </a>
        </div> -->
        <!-- <div class="ui sidebar vertical menu" v-toggleButton>
          <div class="main">

    http://codepen.io/redshift7/pen/VaKmjq will bugg out from attached and fixed
        </div>
      </div> -->
        <!-- pusher in main container -->
        <!-- <div class="pusher">-->
        <SuiSidebar :visible="openSide">
            <!--<filters></filters>-->
            <router-view name="sidebar">
            </router-view>
        </SuiSidebar>
        <SuiSidebarPusher>
        <nav-bar class="ui fixed"></nav-bar>

        <div class="main container">
            <!--<blaze-template template="AppLayout"></blaze-template>-->
            <router-view></router-view>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <!-- 16 columns total -->
                <div class="ui stackable inverted divided grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Forums</h4>
                        <div class="ui inverted link list">
                            <a class="item"
                               @click="openTab('https://groups.google.com/forum/#!categories/evegarlic/feature-requests')">Feature Requests</a>
                            <a class="item"
                               @click="openTab('https://groups.google.com/forum/#!category-topic/evegarlic/feature-requests/auO5L39QxpU')">Roadmap</a>
                            <a class="item"
                               @click="openTab('https://groups.google.com/forum/#!categories/evegarlic/concerns')">Concerns</a>
                            <a class="item"
                               @click="openTab('https://groups.google.com/forum/#!categories/evegarlic/bugs')">Bugs</a>
                        </div>
                    </div>
                    <!-- <div class="three wide column">
                      <h4 class="ui inverted header">Donate</h4>
                      <div class="ui inverted link list">
                        <a class="item" href="">5$</a>
                        <a class="item" href="">5$</a>
                        <a class="item" href="">5$</a>
                        <a class="item" href="">5$</a>
                        <a class="item" href="">monthly 20$</a>
                      </div>
                    </div> -->
                    <div class="three wide column">
                        <h4 class="ui inverted header">Others</h4>
                        <div class="ui inverted link list">
                            <router-link :to="{name: 'auctionArchive'}" class="item">Auction Archive</router-link>
                        </div>
                        <div class="ui inverted link list">
                            <a class="item" @click="toggle">No terms or conditions</a>
                            <div v-if="sdf">it's like I don't know you what so ever, don't sue me</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </SuiSidebarPusher>
    </div>
</template>

<script>
    import navBar from '/imports/ui/navBar.vue';
    import auctionPage from '/imports/ui/auctionPage.vue';
    // import charInfo from '/client/auction/charInfo.vue';
    // import auctionArchive from '/imports/ui/auctionArchive.vue'

    export default {
        components: {
            navBar,
            auctionPage,
        },
        data() {
            return {
                sdf: false,
                openedSide: false
            }
        },
        methods: {
            toggle() {
                this.sdf = !this.sdf
            },
            openTab(url) {
                var win = window.open(url, '_blank');
            }
        },
        computed: {
            openSide() {
                return this.openedSide
            },
        }
//   mounted: function(){
//     $('.ui.sidebar')
//   .sidebar({
//     // this has to be set
//     context: '.app-layout'
//   })
// ;
//   }
        //makes Meteor.user() available to to vue
// created: function() {
//   this.$store.dispatch('setUser')
// }

    }
</script>

<style>
    .main {
        margin-top: 4em;
    }

    .red {
        color: red;
    }

    .brown {
        color: brown;
    }

    .green {
        color: green;
    }
</style>
