<template>
  <div class="auction-archive">
    <h3>list</h3>
    <!-- <h5>{{listings.length}} Hooli Ganka</h5> <h6>Size: 525</h6> -->
    <!-- <div v-for='s in localRep'>
      {{s}}
    </div> -->
      <!-- {{totalCount}} -->
      <div class="ui segment">
        <input v-model="newName">
        <button @click="makeName">Search</button>
        </div>
      <table class='ui striped table'>
  <thead>
    <tr>
      <th>Url</th>
      <th>Isk B</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="listing in listings">
      <!-- {{> statistic listing}} -->
        <div v-if='!!listing.topBid'>
          <td><router-link class="ui button" :to="{name: 'auctionItem', params: {name: listing.name.replace(' ', '_')}}">Open</router-link></td>
          <td>{{listing.topBid}}</td>
        </div>
        <div v-else>
        <td><a class="ui button" @click="openTab(listing.url)">Bazaar</a></td>
        <td>N/A</td>
      </div>
      </td>
      <td>{{listing.name}}</td>
    </tr>
  </tbody>
</table>
</div>
</template>



<script>

// import charInfo from '/client/auction/charInfo.vue';

export default {
  data() {
    return {
      listings: [],
      name: "",
      newName: "",
    }
  },
  components: {
  },
  methods: {
    makeName(name){
      this.name = this.newName
    },
  },
  meteor: {
    $subscribe: {
      'bazaarList': [],
    },
    data: {
      listings: {
        params() {
          return {stuff: this.name}
        },
        update ({param}) {
          if(param.length != 0){
          return AuctionItems.find({name: param.stuff, active: false, topBid: {$exists: true}}).fetch()
        } else {
          return ["none"]
        }
        return {sd: 1}
        }
      },
    }
  }
}
</script>
