<template>
  <div class="auction-page">
<!-- {{data | json}}
<p>Current route path: {{$route.path}}</p>
 <p>Current route params: {{$route.params | json}}</p> -->
 <div class="ui warning message">
   <a class="alert-link" href="" v-openTab="'https://meta.eveonline.com/t/welcome-to-the-character-bazaar/71'">
   Official terms of bannable offenses
 </a>
</div>

<!-- http://codepen.io/redshift7/pen/VaKmjq
Not the exact example -->
<!-- <div class="ui black launch right attached fixed button">
  <i class="content icon"></i>
  <span class="text">Filters</span>
</div> -->

<!-- To appear in navbar if screen is small -->
<!-- <a class="launch item"> -->
  <!-- ::before -->
  <!-- <i class="content icon"></i> -->
  <!-- ::before -->
  <!-- Filters
</a> -->

<!-- <div class="ui right filter visible vertical menu">
supposed filters
</div> -->

<filters></filters>
<!-- <div class="ui segment"> -->
<auction-list></auction-list>

<!-- time deviation (result), deviation changes dynamically across the whole set
change top level, and underlings change in acc, and other way around -->
<!-- maybe sample characters: worst case scenario, time to perfect char -->
<!-- expand apply/tree/copy/move/group sub-level;subscribe  -->
</div>
<!-- </div> -->
</template>

<script>


export default {


  //return bids of this user, if is top bid or has bidded
  //won't bid any more
}

//tree view with overal subscription level item, (that drags and drops modules into it,
//hence duplicating it (if moved again overrides- previous module or otherway around)),
//settings apply to modules that bunch up other items, eg fit or and item
//skill's have trees


  // meteor: {
  //   subscribe: {
  //   //  var charId = $route.params.charId
  //     'charsInfo': [$route.params.charId]
  //
  //
  //   }
  //}
  // var charId = FlowRouter.getParam('id');
  // var handle = CharInfoSubs.subscribe('charsInfo', charId);
  // data: () => ({
  //   templateName: "userProfilePage"
  // })

  // }

</script>
