<template>
    <!-- may have to be fixed to not lose positioning from sidebar triggers -->
    <div class="ui grid">
        <div class="computer tablet mobile only row">
            <div class="ui inverted fixed menu navbar page grid">
                <!--    <a href="" class="brand item">Garlic</a> -->
                <router-link :to="{ name:'home'}" class="item">Garlic</router-link>
                <router-link :to="{ name:'auction'}" class="item">Auction</router-link>
                <router-link :to="{name:'corporateList'}" class="item">Corporate</router-link>
                <!-- accounts-ui sign it for navbar -->
                <!-- <a v-blaze="'atNavButton'" class="vertically fitted item"></a> -->
                <router-link :to="{name: 'profile'}" class="item">Profile/Donate</router-link>
                <blaze-template template="loginButtons"></blaze-template>

                <div class="right menu">
                    <!--<blaze-template template="loginButtons" :data="{message}"></blaze-template>-->
                    <template v-if="online">
                        <div class="item" @click="login()">
                            <img class="ui small image" src="/img/eveSSO.png"></img>
                        </div>
                    </template>
                    <div v-else class="item" @click="logout()">Logout</div>
                </div>
                <!-- <button @click="toggleSidebar">Toggle</button> -->
            </div>
        </div>
        <!-- <div class="mobile only row">
          <div class="ui fixed inverted navbar menu">
            <a href="" class="brand item">Project Name</a>
            <div class="right menu open">
              <a href="" class="menu item">
                <i class="content icon"></i>
              </a>
            </div>
          </div>
          <div class="ui vertical navbar menu">
            <a v-link="{ name:'home'}" class="item">Garlic</a>
               <a v-link="{ name:'auction'}" class="item">Auction</a>
               <a v-link="{name:'corporateList'}" class="item">Corporate</a><a v-blaze="'loginButtons'"></a>
            <div class="menu">
              <a href="" class="active item">Default</a>
              <a href="" class="item">Static top</a>
              <a href="" class="item">Fixed top</a>
            </div>
          </div>
        </div> -->
    </div>
</template>

<script>

    // import {jQuery} from 'meteor/jquery';

    export default {
        // mounted: function(){
        //   $('.ui.sidebar').sidebar({context: '.app-layout'})
        // },
        mounted: function(){
          console.log(111111, this)
        },
        created: function(){
            console.log(111111, this)
        },
        computed: {
            online() {
                return !Meteor.user()
            }
        },
        methods: {
            // toggleSidebar(){
            //   $('.ui.sidebar').sidebar({context: '.app-layout'}).sidebar('toggle')
            //
            // },
            login() {
                Meteor.loginWithEveonline({scope: 'characterAccountRead corporationMembersRead esi-mail.send_mail.v1 esi-skills.read_skills.v1 esi-skills.read_skillqueue.v1 esi-wallet.read_character_wallet.v1 esi-characters.read_corporation_roles.v1'})
            },
            logout() {
                Meteor.logout()
            },
        },
        // // data: () => ({
        // //   templateName: "loginButtons"
        // // }),
        // ready: function() {
        //   $('.right.menu.open').on("click",function(e){
        //     e.preventDefault();
        //     $('.ui.vertical.menu').toggle();
        //   });
        //   $('.ui.dropdown').dropdown();
        // }
    }
</script>

<style scoped>

</style>
