<template>
  <div>
    <button @click="save">Save</button>
    Main: {{main}}
    Selected- click to select main:
    <div v-for="char in selected" @click="select(char.name)"> {{char.name}} </div>
    Move chars onto application:
    <div v-for="char in userChars" @click="add(char)"> {{char.name}} </div>
    <div v-for="form in forms">
      <p> {{form.label}} </p>
      <textarea v-model="form.value"></textarea>
    </div>
  </div>
</template>

<script>
import forms from '/client/forms/applicationForms.js'
import { Meteor } from 'meteor/meteor'
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';

export default {
  data () {
    return {
      forms: {
        ...forms
      },
      main: "",
      selected: [],
      userChars: [],
    }
  },
  computed: {
    //
    // ({
    //   user: state => state.user
    // })
  },
  methods: {
    select(char){
      return this.main = char
    },
    add(char) {
      return this.selected.push(char)
    },
    save() {
      var a={}
      for (field in this.forms) {
        a[field]={}
        a[field].value = this.forms[field].value
      }
      a.chars = this.selected
      a.main = this.main
      console.log(a)
      return Meteor.call("application.create", a, function (err, res) {
  			if (err) {
  				alert(err.message);
  			} else {
  				console.log(res)
  			}
  		})
    }
  },
  meteor: {
    subscribe: {
      "userData": function(){
        return []
      },
      "userData": [],
    },
    userChars () {
      return Meteor.user().chars
    }
    // user () {
    //   // var a = Meteor.user()
    //   if (Meteor.user()) {
    //     return users.find()
    //   }
    //   // return a? a : {};
    // }

  }
}
</script>
