<template>
  <div class="auctionCreate">

    <div class="ui attached warning message">
      <div class="header">Warning:</div>
      <a class="alert-link" href="" v-openTab.unfocused="'https://meta.eveonline.com/t/welcome-to-the-character-bazaar/71'">
        Official terms of bannable offenses
      </a>
    </div>
    <div class="ui form attached fluid segment">
      <div class="required inline field">
        <label >Item title (required):</label>
        <textarea rows="2" type="text" v-model="title" name="title"></textarea>
      </div>
      <div class="required inline field">
        <label>Initial price:</label>
        <div class="ui right labeled input">
          <input type="text" v-model="starting" name="initialPrice" value="0">
          <div class="ui label">Billions</div>
        </div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">I understand official bazaar rules</label>
        </div>
      </div>
      <button class="ui orange submit button" @click="submit">Auction Character</button>
      Collecting char data may take a while, youll be redirected on completion
    </div>
  </div>
</template>

<script>
export default{
  data() {
    return {
      starting: '',
      overbid: '.5',
      title: '',
    }
  },
  methods: {
    submit() {
      var params = {
        name: this.$route.params.name.replace("_", " "),
        title: this.title,
        initialPrice: this.starting,
      };
      console.log(params)
      Meteor.callPromise('sellChar', params).then(x=>this.$router.replace({name: "auctionItem", params: {name: this.$route.params.name}}))
    }
  }

  // 'submit form': function(evt) {
  // 	evt.preventDefault();
  // 			console.log("this", this)
  // 	var params = {
  // 		characterID: this.id,
  // 		title: $('input[name=title]').val(),
  // 		initialPrice: $('input[name=initialPrice]').val(),
  // 		minimalOverbidding: $('input[name=minimalOverbidding]').val()
  // 	};
  // 	Meteor.call('sellChar', params)
  // },
}
</script>

<style scoped>
.ui.form .inline.field > label {
  width: 200px;
}
</style>
