<template>
  <div>
    <button @click="save">Save</button>
    <!-- <div v-blaze="'applicationCreate'"></div> -->
    <input v-model='character'>
    <div v-for="char in userChars" @click="select(char)"> {{char.name}} </div>
    <div v-for="form in forms">
      <p> {{form.label}} </p>
      <select v-model="form.value">
        <option v-for="option in form.allowedValues" v-bind:value="option">
          {{ option }}
        </option>
      </select>
      <span> Selected: {{form.value}}</span>
      <!-- <textarea v-model="form.value"></textarea> -->
    </div>
  </div>
</template>

<script>
import forms from '/client/forms/corpForms.js'

export default {
  data () {
    return {
      forms: {
        ...forms
      },
      selected: "",
    }
  },
  methods: {
    select(char) {
      return this.selected = char
    },
    save() {
      var a={}
      for (field in this.forms) {
        a[field] = {}
        a[field].value = this.forms[field].value
      }
      a.selected = this.selected
      console.log(a)
      return Meteor.call("corp.create", a, this.name, function (err, res) {
        if (err) {
          alert(err.message);
        } else {
          console.log(res)
        }
      })
    }
  },
  meteor: {
    subscribe: {
      "userData": function(){
        return []
      },
    },
    userChars () {
      return Meteor.user().chars
    }
}
}
</script>
