<template name="corporateCreate">
  <div class="create-corp ui segment">
    <h1>Create New Corp</h1>
      {{#autoForm collection="Corps" type="insert" id="corporationCreate" buttonContent="Create"}}
        {{> afQuickField name="category" options="allowed" noselect=true}}
        {{> afQuickField name="security" options="allowed" noselect=true}}
        {{> afQuickField name="activityattitude" options="allowed" noselect=true}}
        {{> afQuickField name="pvpgearing" options="allowed" noselect=true}}
        {{> afQuickField name="primarytz" options="allowed" noselect=true}}
        {{> afQuickField name="secondarytz" options="allowed" noselect=true}}
        {{> afQuickField name="tertiarytz" options="allowed" noselect=true}}
        {{> afQuickField name="quaternarytz" options="allowed" noselect=true}}
        {{> afQuickField name="usrecruitment" options="allowed" noselect=true}}
        {{> afQuickField name="eurecruitment" options="allowed" noselect=true}}
        {{> afQuickField name="rurecruitment" options="allowed" noselect=true}}
        {{> afQuickField name="aurecruitment" options="allowed" noselect=true}}
        {{> afQuickField name="srpop" options="allowed" noselect=true}}
        {{> afQuickField name="srpnonop" options="allowed" noselect=true}}
        {{> afQuickField name="opsattitude" options="allowed" noselect=true}}
        {{> afQuickField name="incomegeneration" options="allowed" noselect=true}}
        {{> afQuickField name="incometax" options="allowed" noselect=true}}
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Make Corp</button>
        <button type="reset" class="btn btn-default">Reset Form</button>
        </div>
        {{/autoForm}}
<!--    https://forums.meteor.com/t/dynamic-fields-in-one-schema-with-autoform/12472/10
        https://forums.meteor.com/t/dynamic-forms-part-ii/4544

        Actual Package: https://atmospherejs.com/forwarder/autoform-wizard

        {{#if afFieldValueIs name="category" value='High Security 1.0-0.6'}}
          {{> afQuickField name="security" options="allowed" noselect=true}}
        {{/if}}
        {{#if afFieldValueIs name="category" value='Low Security 0.5-0.1'}}
          {{> afQuickField name="security" options="allowed" noselect=true}}
        {{/if}}
        {{#if afFieldValueIs name="category" value='Null Security 0.0-negative'}}
          {{> afQuickField name="security" options="allowed" noselect=true}}
        {{/if}}
        {{#if afFieldValueIs name="category" value='Wormhole Space'}}
          {{> afQuickField name="security" options="allowed" noselect=true}}
        {{/if}}

-->
  </div>
</template>
