<template>

  <div class="auction-list">
    <div class="ui form fluid segment">
      <div class="inline field">
        <label>Max price:</label>
        <div class="ui right labeled input">
          <input type="text" v-model="maxPrice">
          <div class="ui label">Billions</div>
        </div>
      </div>
      <div class="inline field">
        <label>SP/ISK:</label>
        <div class="ui right input">
          <input type="text" v-model="SPtoISK">
        </div>
      </div>
      <div class="inline field">
        <label>Min SP threshold:</label>
        <div class="ui right input">
          <input type="text" v-model="threshold">
        </div>
      </div>
      <div class="inline field">
        <label>Age of update:</label>
        <div class="ui right input">
          <input type="text" v-model="ageOfUpdate">
        </div>
      </div>
      <div class="inline field">
        <label>Name:</label>
        <div class="ui right input">
          <input type="text" v-model="name">
        </div>
      </div>
      <button class="ui orange submit button" @click="beginSearch">Initiate Search</button>
    </div>
    <!-- <h5>{{listings.length}} Hooli Ganka</h5> <h6>Size: 525</h6> -->
    <!-- <div v-for='s in localRep'>
    {{s}}
  </div> -->
  <!-- {{totalCount}} -->
  <table class='ui sortable striped table'>
    <thead>
      <tr>
        <th>Url</th>
        <!-- <th :class="this.sortClass['1']}" @click="sortClass(1)">Isk B</th>
        <th :class="this.sortClass['2']}" @click="sortClass(2)">SP/ISK</th>
        <th :class="this.sortClass['3']" @click="sortClass(3)">SP</th> -->
        <th>Isk B</th>
        <th>SP/ISK</th>
        <th>SP</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="listing in listings" :key="listing._id">
        <!-- {{> statistic listing}} -->
        <template v-if='listing.topBid'>
          <td><router-link class="ui button" :to="{name: 'auctionItem', params: {name: listing.name}}">Open</router-link></td>
          <td>{{listing.topBid}}</td>
          <td>{{listing.totalSP}}</td>
          <td>{{listing.SPtoISK}}</td>
        </template>
        <template v-else>
          <td><router-link class="ui button" :to="{name: 'auctionItem', params: {name: listing.name}}">Skills</router-link></td>
          <td><a @click="openTab(listing.url)">Open</a></td>
          <td>N/A</td>
          <td>N/A</td>
        </template>
        <td>{{listing.name}}</td>
      </tr>
    </tbody>
  </table>

  <div v-if="justLoading">
  Initializing
</div>
<div v-else-if="moreLoading">
Loading
</div>
<div v-else-if="allLoaded">
Nothing else left
<!--<button @click='fuzzySearch'>Begin Unordered Fuzzy Search</button> (it is ordered by filtered out skill levels' rarity)-->
</div>
<div v-else-if="noneExist">
No such records
</div>
<div v-else-if="moreReady">
<button @click='loadMore'>Load Moar</button>
</div>
</div>
</template>



<script>

// import charInfo from '/client/auction/charInfo.vue';
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import {decode} from "/lib/helpers.js"


export default {
  created() {
    // You can define autorun's computation which runs for the life-span of the component.
    this.$autorun((computation) => {
      // You can subscribe in the same way you would do in Blaze.
      // You can use this.$subscriptionsReady to have a reactive value which
      // is set to true once all subscriptions are ready.
      this.subHandle = this.$subscribe('bazaarList');
    });
    var date = new Date()
    this.search.query["lastUpdateAuc"] = {$gt: new Date(date.setDate(date.getDate()-30))}
    console.log("aaaa", this.search.query)
  },
  data() {
    return {
      subHandle: null,
      ageOfUpdate: 25,
      name: "",
      SPtoISK: null,
      maxPrice: null,
      threshold: null,
      requested: 5,
      pageSize: 5,
      search: {projection: {sort: {SPtoISK: -1}, limit: 5,
//          transform: function(doc){
//        doc.paramName = doc.name.replace(" ", "_")
//        return doc
//      }
      }, query: {}},
      sort: 1,
    }
  },
  methods: {
    loadMore() {
      var a = this.requested+=this.pageSize
      // var c = Session.get("loaded")
      // Session.set("loaded", c+15)
    },
    fuzzySearch() {
      Session.set('startSearch', true)
    },
    beginSearch(){
      //this.ageOfUpdate, this.namee, this.SPtoISK, this.maxPrice, this.threshold, this.selectedFilters}
      this.requested=this.pageSize
      var query = {active: true}, projection = {limit: this.pageSize}
      var age
      if (this.ageOfUpdate == "" || this.ageOfUpdate>30){
        age == 25
        this.ageOfUpdate = 25
      } else {age = this.ageOfUpdate}
      var date = new Date()
        date.setDate(date.getDate()-age)

      query["lastUpdateAuc"] = {$gt: date.getTime()}

      if (!!this.name){
        query["name"]= this.name
      }
      if (!!this.SPtoISK){
        query["SPtoISK"]= {$gte: Number(this.SPtoISK)}
      }
      if (!!this.maxPrice){
        query["maxPrice"] = {$lte: Number(this.maxPrice)}
      }
      if(!!this.threshold){
        query["totalSP"] = {$gte: Number(this.totalSP)}
      }
      if(!!this.selectedFilters){
        query["skills"]={$regex: this.selectedFilters}
      }
      // var sortDir, dir= this.sort
      // if (dir == 1){
      //   isk, ratio, total
      //   sortDir= {totalBid: 1}
      // } else if (dir == 2){
      //   sortDir= {SPtoISK: -1}
      // } else {
      //   sortDir= {totalSP: -1}
      // }
      // projection["sort"]= {sortDir}

      projection["sort"]= {SPtoISK: -1}
      this.search = {query, projection}
    },
  },
  computed: {
    ...mapGetters([
      'selectedFilters',
      'combinedSelected',
    ]),
    listings(){
//      if (!this.subHandle) return [];
      // deep: true,
        console.log((this.search.query, this.search.projection))
      return AuctionItems.find(this.search.query, this.search.projection).fetch()
    },
    readyOrNot(){
      var a= this.$subReady.bazaarList
      console.log("...................",a)
      return a
    },
    loadMoreLet(){
      if (this.justLoading){
        return false
      }
    },
    justLoading(){
      if (!this.$subReady.bazaarList && this.listings.length == 0 && !this.lastItem) {
        return true
      } else {
        return false
      }
    },
    moreReady(){
      if (!this.lastItem && this.requested == this.listings.length){
        return true
      } else {
        return false
      }
    },
    moreLoading(){
      if (0 < this.listings.length && this.listings.length < this.requested){
        return true
      } else {
        return false
      }
    },
    allLoaded(){
      if (this.listings.length === this.requested && this.lastItem) {
        return true
      } else {
        return false
      }
    },
    noneExist(){
      if (this.listings.length == 0 && !this.lastItem){
        return true
      } else {return false}
    },
    lastItem(){
      if (this.$subReady.bazaarList){
        var len = this.listings.length
        var lastResult = this.listings[len-1]
        var projection = EJSON.clone(this.search.projection)
        var search = EJSON.clone(this.search.query)
        projection.sort.SPtoISK = 1
        projection.limit = 1
        var lastItem = AuctionItems.find(this.search.query, projection).fetch()[0]
        if (this.listings.length > 1 && lastItem.SPtoISK == this.listings[len-2].SPtoISK){
          search.SPtoISK = lastItem.SPtoISK
          delete projection.limit
          var verifyLength = AuctionItems.find(search, projection).count()
          return compareLastSortGroup(len, lastItem.SPtoISK, this.listings)
        }
        return lastItem._id == lastResult._id
      } else {
        return false
      }
      function compareLastSortGroup(length, sp, listings) {
        if (listings[length-1].SPtoISK == sp){
          compareLastSortGroup(length-1, sp)
        } else {
          return verifyLength == listings.length-length
        }
      }
    },
      // @summary CONTROLS UI visual for SORT arrows by any column
      // sortClass: {
      //   get(){
      //     var a = {1: "", 2: "", 3:""}
      //     //https://vuejs.org/v2/guide/class-and-style.html#Object-Syntax
      //     //documentation instructs to return {class: condition} rather than string
      //     a[Math.abs(this.sort)]= Math.sign(this.sort)==-1?"sorted descending":"sorted ascending"
      //     return a
      //   },
      //   set(val){
      //     this.sort=val==this.sort?this.sort*-1:val
      //     this.beginSearch()
      //   }
      // },
  },
  // meteor: {
  //   $subscribe: {
  //     'bazaarList': [],
  //     // 'auctionItemsCount': [],
  //   },
  //   // listings() {
  //   //   return AuctionItems.find()
  //   // },
  //   // localRep() {
  //   //     // return LocalRep.find({skills: {$regex: Session.get("currentF")}}, {sort: {order: 1}})
  //   // },
  //   // lastItem: {
  //   //   params(){
  //   //     if (!!this.$subReady.bazaarList){
  //   //       var a = null
  //   //     } else {
  //   //       var a = this.listings[this.listings.length-1]._id
  //   //     }
  //   //     var c = this.$subReady.bazaarList
  //   //     return { search: this.search, reference: a}
  //   //   },
  //   //   // deep:true,
  //   //   update(params){
  //   //     console.log(Meteor.subscribe("bazaarList").ready(), "meteorSubReady")
  //   //
  //   //     if (!params.sub){
  //   //       return {}
  //   //     }
  //   //     let filter = params.filter
  //   //     let sort = params.sort
  //   //     // if (this.listings.length == 0){
  //   //     //   if(typeof AuctionItems.findOne({skills: {$regex: filter}}) != "undefined"){
  //   //     //     return false
  //   //     //   } else {
  //   //     //     return true
  //   //     //   }
  //   //     // }
  //   //     return AuctionItems.find(search.query, {limit:1, sort: {SPtoISK: 1}})._id == params.reference
  //   //   },
  //   //
  //   // }
  // }
  // // totalCount: {
  // //   params() {
  // //     return this.selectedFilters
  // //   },
  // //   update(filter) {
  // //     var query = {}
  // //     if (typeof filter.skills != "undefined") {
  // //       query.skills = skills
  // //     }
  // //     if (typeof filter.price != "undefined") {
  // //       query.topBid = {$lte: price}
  // //     }
  // //     if (typeof filter.parsed != "undefined") {
  // //       query.parsed = parsed
  // //     }
  // //     console.log("AAAAAAAAAA", filter, Counts.get('totalCount.${query}'))
  // //     return Counts.get('auctionItemsCount.${query}')
  // //   }
  // // },
}
</script>

<style scoped>
.ui.form .inline.field > label {
  width: 100px;
}
</style>
