<template>
  <div class="char-info">
    <!-- <div v-if="!$subReady.bazaarList"> Loading... </div>
    <div v-else> -->
    <!-- <router-link :to="{name:'auction'}"><h2>auction</h2></router-link> -->
    <!-- link evewho and such -->
    <div v-if="!!char.topBid">
      Top Bid: {{char.topBid}}
      Total SP: {{char.totalSP}}
      SP/ISK: {{char.SPtoISK}}
      Last Online: {{char.lastUpdateAuc}}
      <input v-model="nextBid" type="number">
      <button @click='placeBid'>bid</button>
    </div>
    <div v-if="path == 'auctionArchive'">
      Created: {{char.created}}
    </div>
    <table>
      <caption>Bids</caption>
      <thead>
      <tr>
        <th>Bidder</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      </thead>
      <tr v-for="item in char.bids">
        <td>{{item.char}}</td>
        <td>{{item.value}}</td>
        <td>{{item.date}}</td>
      </tr>
    </table>
    <!-- <grid0 :showTH="false" :body="skills.skillList" :columnKeys="RacialH" :rowTypes="RacialRow"></grid> -->

    <tables
            :charSkills="transformedArray">
    </tables>
    <!-- </div> -->
    <!-- <ul>
    <li v-for="skill in tableFilter(skills.skillList)"> {{skill.typeName}} </li>
  </ul> -->

    <!-- <table> type of table list plus-minus of time
    table for category of skills
  </table> -->
  </div>
</template>

<script>
    import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
    import {decode} from '/lib/helpers.js';

    export default {
        // ready: function () {
        //   console.log(this.$route.params.name)
        // },
        props: [
            "charName"
        ],
        data() {
            return {
                open: true,
                nextBid: this.char.topBid,
                path: this.$route.name,
                // RacialHea: [[Amarr, Am], [Caldari, Cal], [Gallente, Gal], [Minmatar, Min]],
                RacialH: ["Amarr", "Caldari", "Gallente", "Minmatar"],
                RacialRow: ["Frigate", "Destroyer", "Cruiser", "Battlecruiser", "Battleship", "Strategic", "Carrier", "Dreadnought", "Titan", "Industrial", "Freighter"],
                // Arma: [[Small, Sm], [Medium, M], [Large, L], [XLarge, XL]],
                SupportM: [],
                SupportD: [],
                SupportG: [],
            }
        },
        methods: {
            placeBid () {
                console.log({value: this.nextBid, auctionId: this.char._id})
                Meteor.call('placeBid', {value: this.nextBid, auctionId: this.char._id})
            }
        },
        computed: {
            ...mapState({
                selectedFilters: state => state.filter.selectedFilters
            }),
            transformedArray() {
                var b = []
                var a = this.char.skills
                for (var c in a) {
                    b.push({typeName: c, level: a[c]})
                }
                return b
            },
            char() {
                // return this.$route.params.name.replace('_', ' ')
                var param = this.charName
                if (this.$route.name == "auctionItem") {
                    var q = AuctionItems.findOne({name: param})
                    q.skills = decode(q.skills)
                    return q
                }
                else if (this.$route.name == "charInfo") {
                    var q = CharsInfo.findOne({name: param})
                    q.skills = decode(q.skills)
                    return q
                }
            },
        },
        meteor: {
            subscribe: {
                'bazaarList': [],
                'charsInfo': [],
            },
            // char: {
            //   params () {
            //     // return this.$route.params.name.replace('_', ' ')
            //     return this.charName || [this.$route.params.name.replace('_', ' '), this.$route.name]
            //   },
            //   update (param) {
            //     if (param[1] =="auctionItem") {
            //       var q = AuctionItems.findOne({name: param[0]})
            //       q.skills = decode(q.skills)
            //       return q
            //     }
            //     else if (param[1]=="charInfo") {
            //     var  q = CharsInfo.findOne({name: param[0]})
            //     q.skills = decode(q.skills)
            //     return q
            //     }

            //color code match
            // q.skills.map((b)=> {
            //   var z = this.selectedFilters[0].filters.filter((c)=>{
            //     return b.typeName==c.name
            //   })
            //   if(z.length==1){
            //     var x = z[0].levels
            //     if(x[0]>b.level){
            //       b.red= true
            //     } else if (x[x.length-1]<b.level) {
            //       b.brown= true
            //     } else {
            //       b.green= true
            //     }
            //   }
            // }
            //   }
            // }
        },
    }

</script>
