<template>
  <button @click='toggle(states.value)' class="ui button check-level" :class="[states.class, attached]">
    <i :class="states.icon"></i>
  </button>
</template>

<script>
import store from "/client/vuex/store.js"
import { mapMutations, mapState, mapGetters } from 'vuex';
export default {
  props: [
    "value",
    "index",
    "name",
    "level"
  ],
  data: function (){
    return {
    }
  },
  computed: {
    ...mapGetters([
      "toggle_level_state"
    ]),
    states() {
        return this.toggle_level_state[this.index].skills[this.name].levels[this.level]
    },
    attached() {
      if (this.level == "n"){
        return "left attached"
      }
    }
  },
  methods: {
    ...mapMutations([
      "toggle_level"
    ]),
    toggle(val){
        var payload = {index: this.index, name: this.name, level: this.level, value: val}
        this.toggle_level(payload)
    }
  }
}
</script>
<!--
<style scoped>
span {
    cursor: default;
}
</style> -->
