<template>
  <div id="filters">
    <!-- <input v-model="pingInput" placeholder="pingInput">
    {{ping}}
    <input v-model="autoInput" placeholder="autoInput">
    <button @click="toggleShowAuto">showAuto</button>
    <div v-if='showAuto'>
    {{auto}} -->

    <div class="ui segment">
      Filters:
      <!-- Bazaar forum items: <input type='checkbox' v-model="parsed"> -->
      <div class='ui divider'></div>
      <!--careful with accepting html tags (< fit >)-->
      <input placeholder="enter adds skill" v-model="newFilterName" @keyup.enter="handleAddFilter">
      <button @click='handleAddFilter'>Add Skill</button>
      <div v-for="(object, skillName) in toggle_level_state[0].skills">
        {{skillName}}
        <skill-listing :skill="object" :name="skillName" :gIndex="0" style="position: relative"></skill-listing>
      </div>
      <input v-model="newGroupName">
      <button @click='handleSubmit'>Commit/Save Group</button>
      </div>

      <!-- <div v-for="(group, gIndex) in groups"> -->
      <div class="ui list" v-for="(group, gIndex) in toggle_level_state">
        <div v-if="gIndex!=0" class="item">
          {{group.name}}
          <button @click="delete_group(gIndex)">Delete</button>
          <button @click="handlePushGroup(gIndex)">Push</button>
          <selected-check-box :value='group.selected' @toggle="toggle_select(gIndex)"></selected-check-box>

          <!-- http://semantic-ui.com/modules/checkbox.html#checked -->
          <div class="ui list" v-for="(object, skillName) in group.skills">
            <div class="item">
              <div class="content">
                <div class="header">{{skillName}}</div>
                <skill-listing class="description" :skill="object" :name="skillName" :gIndex="gIndex" style="position: relative"></skill-listing>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button @click='handleSave'>Save</button>
    </div>
  </template>

  <script>
  import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
  import skillListing from "./skillListing.vue"


  export default {
    data () {
      return {
        mesg: " down the list over",
        parsed: true,
        newFilterName: '',
      }
    },
    computed: {
      ...mapState([
        'groups', 'chars'
      ]),
      ...mapGetters([
        'toggle_level_state'
      ]),
      newGroupName:{
        get(){
          return this.groups[0].name
        },
        set(e){
          return this.rename_group(e.target.value)
        }
      },
        parsedFilter() {
            Session.set('parsedFilter', this.parsed)
        }
    },
    //computed:
    // if is certificate
    // if is fitting

    methods: {
      handleSave(){
        this.updateAuctionFilters()
      },
      toggleShowAuto () {
        this.showAuto = !this.showAuto
      },
      ...mapActions([
        'updateAuctionFilters',
        'addSaveFilters',
      ]),

      ...mapMutations([
        'push_group',
        'delete_group',
        'toggle_select',
        'add_skill',
        'delete_skill',
        'submit_group',
        'rename_group',
        'upsert_skill',
        'toggle_level',
      ]),
      handleToggleLevel(a,b,c){
        var pl = {value: a, level: b, skill: c, group: d}
        this.toggle_level(pl)
      },
      handlePushGroup(ind){
        var a = {index: ind}
        this.push_group(a)
      },
      handleAddFilter () {
        this.add_skill(this.newFilterName)
        this.newFilterName = '';
      },
      handleSubmit () {
        this.addSaveFilters()
      },
      upsertGroup () {
        this.group_filters(this.selectedSkills)
      },
      renameGroup (index) {
        var a = event.target.value
        this.rename_group(a)
      },
      upsertCorpus () {
        this.collect_filters(this.selectedGroups)
      },
      // resetSkill (index) {
      //   var a = event.target
      //   console.log(a)
      //     this.$store.commit('reset_skill', {index, a})
      // },
      isSaved () {
        console.log(this.$store)
        return this.saved = true
      }
    },
    // apollo: {
    //   auto: {
    //     query: gql`query Auto($typeName: String) {
    //       skill(typeName: $typeName) {
    //         typeName
    //       }
    //     }`,
    //     variables() {
    //       return {
    //         typeName: this.autoInput
    //       }
    //     },
    //     update(data) {
    //       console.log(data)
    //       return data.skill
    //     }
    //   },
    //   ping: {
    //     query: gql`query PingMessage($message: String) {
    //       ping(message: $message)
    //     }`,
    //     // Reactive parameters
    //     variables() {
    //       // Use vue reactive properties here
    //       return {
    //         message: this.pingInput,
    //       }
    //     }
    //   },
    // },
  }
  </script>
