<template>
  <div class="selected-check-box">
    <input type='checkbox' v-model="cmp">
  </div>
</template>


<script>
export default {
  props: [
    "value",
    "gIndex"
  ],
  data: function (){
    return {
      cmpVariable: false
    }
  },
  computed: {
    cmp: {
      get: function() {
        return this.value;
      },
      set: function(val) {
        this.$emit("toggle", this.gIndex, this.value);
      },
    }
  }
}
</script>
