<template>
<div class="ui item skill-listing">
  <!-- or use carousel which is basically a slider with events
  for keyup some level -->
  <!-- <button @click="handleDeleteSkill">del</button> -->
  <i @click="handleDeleteSkill" class="remove icon"></i>
  <div class="ui icon mini compact buttons">
  <check-level style="display:inline" :index="gIndex" :name="name" :level="0" :value='skill.levels[0]'></check-level>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="1" :value='skill.levels[1]'></check-level>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="2" :value='skill.levels[2]'></check-level>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="3" :value='skill.levels[3]'></check-level>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="4" :value='skill.levels[4]'></check-level>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="5" :value='skill.levels[5]'></check-level>
  <div class="ui vertical divider"></div>
  <check-level style="display:inline" :index="gIndex" :name="name" :level="'n'" :value='skill.levels.n'></check-level>
</div>
  <!-- <input type="radio" value="1" v-model.number="filter.levels">
  <input type="radio" value="2" v-model.number="filter.levels">
  <input type="radio" value="3" v-model.number="filter.levels">
  <input type="radio" value="4" v-model.number="filter.levels">
  <input type="radio" value="5" v-model.number="filter.levels"> -->
  <!-- <input v-model.number="filter.acc" size="3"
  data-tooltip="Acceptable deviation in %; 100% ignores; relative to: filter set, sp size, time to correction. Propogates down to requirements; skill tree.">
  <select v-model="filter.accCh"
  data-tooltip="+ filters out under par; strict tis. propogates down to requirements; skill tree.">
  <option>+</option>
  <option>+/-</option>
  <option>-</option>
</select> -->
<!-- {{filter.rateOfAvailable}} -->
<!-- time deviation (result), deviation changes dynamically across the whole set
change top level, and underlings change in acc, and other way around. derive
relative percentage from index numbers? -->
<!-- maybe sample characters: worst case scenario, time to perfect char -->
<!-- expand apply/tree/copy/move/group sub-level;subscribe  -->
</div>
</template>

<script>
import {mapMutations} from "vuex"
export default {
  props: [
    "skill",
    "gIndex",
    "name"
  ],
  data: function () {
    return {
      //breaks the pattern for vuex since this may get outdated
      //doesn't work with state literals, array/object works

    }
  },
  methods: {
    ...mapMutations([
      "delete_skill"
    ]),
    handleDeleteSkill(){
      var payload = { index: this.gIndex, skill: this.name}
      this.delete_skill(payload)
    }
    // resetSkill () {
    //   this.filter.name = this.name
    //     this.$store.commit('upsert_skill', {o: this.filter, f: this.fIndex, g: this.gIndex})
    // }
  },
  computed: {
    controlSkills() {
      if (typeof this.skills == "undefined") {
        return {1: undefined, 2: undefined, 3: undefined, 4: undefined, 5: undefined, n: undefined}
      }

    }
  }
}
</script>

<style>
.itemsToggle {
    cursor: default;
}
</style>
