<template>
  <div class="tables">
    <div v-if="computedTables.b">
      <div v-for="(table, key) in computedTables.b">
        <!-- <tr v-for="th in tables.Ships.tdata">
        <th> {{th}} </th>
      </tr> -->
      <tr v-for="(tr, title) in table">
        {{title}}
        <td v-for="td in tr">
          {{td.level}}
        </td>
      </tr>
      <button @click="toggle"> Toggle Romanize</button>
      <tr v-for="skill in computedTables.rest">
        <td> {{skill.typeName}}</td>
        <div :class="{red: skill.red, brown: skill.brown, green: skill.green}">
          <td v-if="romanized"> {{skill.level}} </td>
          <td v-else>  {{skill.level|romanize}} </td>
        </div>
      </tr>
    </div>
  </div>

</div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import Cookie from 'tiny-cookie'

export default {
  mounted: function () {
    this.romanized = !(!(Cookie.get('romanized')))
    console.log('romanized', this.romanized, !!Cookie.get('romanize'))
  },
  props: [
    "charSkills"
  ],
  data: function () {
    return {
      romanized: null,
      tables:{
        Ships: {
          tdata: ["Amarr", "Caldari", "Gallente", "Minmatar"],
          row: ["Frigate", "Destroyer", "Cruiser", "Battlecruiser", "Battleship", "Strategic", "Carrier", "Dreadnought", "Titan", "Industrial", "Freighter"]
        }
      }

    }
  },
  filters:{
    romanize: function(value) {
      var c
      switch (value) {
        case 5: c="V"; break;
        case 4: c="IV"; break;
        case 3: c="III"; break;
        case 2: c="II"; break;
        case 1: c="I"; break;
        case 0: c="N"; break;

      }
      return c
    }
  },
  methods: {
    toggle() {
      this.$cookie.set('romanize', !this.romanized)
      this.romanized = !this.romanized
    },
  },
  computed: {
    ...mapState ({
      selectedFilters: state => state.selectedFilters
    }),
    skillList: function () {
      return Object.keys(this.charSkills).map((x)=> {
        return x= this.charSkills[x]
      })
    },
    coloredList: function () {
      console.log("selected", this.selectedFilters)
      var d = this.charSkills.map((b)=> {
          // if(this.selectedFilters[0].filters.filter((c)=>{
          // return b.typeName==c.name}).length>0){
          // b.fair = true
          // }
          var z = this.selectedFilters[0].filters.filter((c)=>{
            return b.typeName==c.name})
            if(z.length==1){
              x = z[0].levels
              if(x[0]>b.level){
                b.red= true
              } else if (x[x.length-1]<b.level) {
                b.brown= true
              } else {
                b.green= true
              }
            }
            // console.log("filtering", b.typeName, b)
            return b
          })

        console.log("mapped", d)
        return d
        // return null
      },
      computedTables () {

        var b = {}
        for (table in this.tables) {
          // console.log("row", this.tables[table].row,"td", table.tdata,"table", this.tables[table])
          b[table]={}
          this.tables[table].row.map((tr)=>{
            b[table][tr]={}
            return this.tables[table].tdata.map((td)=>{
              return b[table][tr][td]= 0
            })
          })
        }
        console.log("scaffold", b, "this", this, "prop", this.charSkills)
        var q = this.charSkills.reduce((a, v)=>{
          for (table in b) {
            // console.log("a", a,"v", v,"table", table)
            for (tdata in b[table]){
              // console.log("tdata", tdata)
              for (row in b[table][tdata]){
                // console.log("row", row)
                if(v.typeName.indexOf(tdata)!==-1 && v.typeName.indexOf(row)!==-1) {
                  a.b[table][tdata][row]= v
                  // console.log(a.b[table][tdata], a.b[table][tdata][row]= v)
                  return a;
                }
              }
            }
          }
          a.rest.push(v)
          return a
        }, {b: b, rest: []})
        console.log ("q", q)
        return q
      },
    },
    // meteor: {
    //   // Selected thread
    //   romanize: {
    //     params () {
    //       // var a = this.$cookies.get('romanize')
    //       // this.de
    //       // console.log('cookie', a)
    //       return this.romanized
    //     },
    //     update (param) {
    //       console.log("tracker", param)
    //       this.$cookie.set('romanize', param)
    //       console.log("tracker", param, this.$cookie.get('romanize'))
    //     },
    //   },
    //
    // }
  }

  </script>
